<html>
<table>
    <tr>
        <th>淘宝ID</th>
        <th>订单号</th>
        <th>线下客户</th>
        <th>凭证</th>
        <th>备注</th>
        <th>软件类型</th>
        <th>服务时间</th>
    </tr>
    {% for item in query_results %}
    <tr> 
        <td>{{ item.taobao_id }}</td>
        <td>{{ item.order_number }}</td>
		<td>{{ item.offline_clients }}</td>
		<td>{{ item.credential }}</td>
        <td>{{ item.remark }}</td>
        <td>{{ item.software_type }}</td>
        <td>{{ item.serve_time }}</td>
    </tr>
    {% endfor %}
</table>
</html>
